/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 févr. 2018, 14:21:59
    Author     : Paola
*/

html, body {
    height: 100%;
    margin: 0px;
}
.container{
    height:100%;
    width:100%;
    margin: 0px;
    padding: 0px;
}
.row{
    height:100%;
    margin:0px;
    padding: 0px;
}

/* VOLET DE GAUCHE */
#left_div{ 
    background-color: #F4F4F4;
    margin : 0px;
    height:100%;
    padding:0!important;
    border-right:1px solid #C0C0C0;
}

#right_div{ 
    background-color: white;
    margin : 0px;
    height:100%;
    padding : 3%
}

#info_email{
    color:#3E5250;
    font-weight:500;
    font-size:15pt;
    padding-bottom:5px;
    font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
}